.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.App-header {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.App-message-end {
  padding-top: 10px;
  text-align: right;
}
