.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.App-header {
  font-family: 'Dancing Script', cursive;
}

.App-message-end {
  padding-top: 10px;
  text-align: right;
}

.App-mask {
  padding-top: 20px;
  width: 200px;
}

@media screen and (min-width: 600px) {
  .App-header {
    font-size: 2em;
  }

  .App-mask {
    width: 500px;
  }
}
